[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
seaborn = "*"
pandas = "*"
numpy = "*"
matplotlib = "*"
scikit-learn = "*"
"plotly.express" = "*"
ipykernel = "*"
openpyxl = "*"
nbformat = "*"

[dev-packages]

[requires]
python_version = "3.11"
